AIRES_Pdt_Mylo_CoreFlex/AIRES_Pdt_Mylo_CoreFlex/target/classes/.cucumber/cucumber.glue.tmp
AIRES_Pdt_Mylo_CoreFlex/AIRES_Pdt_Mylo_CoreFlex/target/classes/.cucumber/cucumber.stepDefinitions.tmp
AIRES_Pdt_Mylo_CoreFlex/target/classes/META-INF/MANIFEST.MF
AIRES_Pdt_Mylo_CoreFlex/target/classes/META-INF/MANIFEST.MF
AIRES_Pdt_Mylo_CoreFlex/AIRES_Pdt_Mylo_CoreFlex/.metadata/**
AIRES_Pdt_Mylo_CoreFlex/AIRES_Pdt_Mylo_CoreFlex/target/**
AIRES_Pdt_Mylo_CoreFlex/AIRES_Pdt_Mylo_CoreFlex/test-output/**
AIRES_Pdt_Mylo_CoreFlex/AIRES_Pdt_Mylo_CoreFlex/TestReports/**
AIRES_Pdt_Mylo_CoreFlex/AIRES_Pdt_Mylo_CoreFlex/AIRESLOG.log